body {
  background-color: #fbf2ef;
}

.search {
  width: 230px;
  height: 40px;
  border-radius: 20px;
  border-color: transparent;
  position: relative;
  top: -1350px;
  left: 240px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}



.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  top: -1000px;
  gap: 10px;

}

.container div {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

.container .header {
  font-weight: bold;
  background-color: #ffffff;
}

.book-row {
  display: contents; 
}

.search{
  width: 230px;
  height: 40px;
  border-radius: 20px;
  border-color: transparent;
  position: relative;
  top: -1350px;
  left: 240px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.available{
  background-color: #00ff04 !important; 
}

.unavailable {
  background-color: #ff0000 !important; 

}
